<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/style.css">
  <% if (typeof extraStyles !=='undefined' && extraStyles.length) { %>
    <% extraStyles.forEach(function(style) { %>
      <link rel="stylesheet" href="<%= style %>">
      <% }); %>
        <% } %>

</head>

<body class="body-styles">
  <header class="header-styles">
    <%- include('partials/nav') %>
  </header>

  <main class="main-styles">
    <%- include(body) %>
  </main>

  <footer class="footer-styles">
    <%- include('partials/footer') %>
  </footer>
</body>

</html>